@use "./variables/variables.scss";
@use "./components/calculator-header.scss";
@use "./components/calculator-display";
@use "./components/calculator-button";
@use "./components/calculator-history";

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbcbcb;
  box-sizing: border-box;
}

.calculator {
  background-color: #585050;
  width: 445px;
  height: 611px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
  border-radius: 20px;
  box-sizing: border-box;
}
